exercici2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Arrel del document -->
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="llista_actors" type="ActorsListType"/>
        <xs:element name="llista_pelicules" type="MoviesListType"/>
        <xs:element name="llista_recomanacions_pelicules" type="RecommendationsListType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definició de llista d'actors -->
  <xs:complexType name="ActorsListType">
    <xs:sequence>
      <xs:element name="actor" type="ActorType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActorType">
    <xs:sequence>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="edat" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <!-- Definició de llista de pel·lícules -->
  <xs:complexType name="MoviesListType">
    <xs:sequence>
      <xs:element name="pelicula" type="MovieType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MovieType">
    <xs:sequence>
      <xs:element name="titol" type="MovieTitleType"/>
      <xs:element name="director" type="xs:string"/>
      <xs:element name="any" type="xs:string"/>
      <xs:element name="actors" type="ActorsRefListType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:complexType name="MovieTitleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="idioma" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ActorsRefListType">
    <xs:sequence>
      <xs:element name="actor_ref" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="ref" type="xs:IDREF" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Definició de llista de recomanacions -->
  <xs:complexType name="RecommendationsListType">
    <xs:sequence>
      <xs:element name="recomanacio" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="ref" type="xs:IDREF" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
